body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: black;
  display: flex;
}

@font-face {
    font-family: "emery";
    src: url("resources/fonts/emery.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "patlabour";
    src: url("resources/fonts/patlabour.woff") format('woff');
    font-weight: bold;
}

.loadFont-emery {
  font-family: "emery";
  font-size: 10px;
  visibility: hidden;
}
.loadFont-patlabour {
  font-family: "patlabour";
  font-size: 10px;
  visibility: hidden;
}

#container {
  width: 355px;
  height: 712px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background: black;
  background-image: url("resources/images/background-primary.png");
  background-position: center;
}

/* To prevent wierd values when clicking
on the svg instead of the container,
you can set pointer events none
on the generated graphics */
.no-pointer {
  pointer-events: none;
}
